:root{
    --dark: #000000;
    --white: #ffffff;
    --primary: #337044;
    --secundary: #f5f1e5;
    --gray: #757575;

}
html{
    padding-left: 15rem;
    padding-right: 15rem;
}
body{
    background-color: var(--secundary);

}
.logo{
    position: center;
    width: 500px;
}
.resta{
    height: 400px;
    position: relative;

}


.ship{
    height: 200px;
}



.awards{
    text-align: center;
}
.awards-list{
    color: var(--primary);
}
.inquieries{
    background-color: var(--primary);
    color: var(--white);
    border-radius: 25px;
    height: 2rem;
    width: 11rem;
    border-style: none;
}
.inquieries-hover{
    background-color: var(--white);
}

.video{
    padding-top: 5rem;
    width: 100%;
}
.video-description{
    font-size: 1rem;
}

.old{
    display: flex;
    height: 15rem;
    
}




.social{
    text-align: center;
}


.sponsor-img{
    width: 33%;
}


.footer{
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 5rem;

}